<nav>
    <div class="site-title">
        <a href="/"><h1>Football</h1></a>
        <p>We love football</p>
    </div>
    <ul>
        <li><a href="/">Footballers DB</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/players/add">Add new football player</a></li>
    </ul>
</nav>