<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin nisi eros, fringilla congue nunc efficitur vel. Maecenas a suscipit enim. Cras vel tortor sem. Etiam sit amet tempor turpis. Donec et urna ex. Curabitur ut augue arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis hendrerit, lacus non aliquam sagittis, dui odio tristique felis, sit amet consequat elit neque nec justo. Nulla id viverra est, sit amet efficitur neque.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>