<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %> 

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me and The Project</h2>
        <p>
            My name is Ahmet Sami Yeniçeri.<br>
            I'm a 4th grade computer engineering student at Uskudar University.<br>
            Recently, I'm working on Web and Mobile development.<br>
            This is my first project which I used NodeJS, ExpressJS, MongoDB and 3rd libraries about all these stuff.<br><br>
            I'm interested in many sports and a huge Fenerbahce fan aswell. Since I like the football, I wanted to build an app about it. In this project, you can add and delete players as you wish.
        </p>

    </div>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>